.block-reason {
  background-color: $color-blue-light;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &--mask {
      padding-top: 32px;
    }

    &--mask::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 37px;
      top: 0;
      left: 0;
      background-image: url("../img/white-copy.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.block-reason__list {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.block-reason__block {
  padding: 39px 12px 29px;

  @media (min-width: $tablet-width) {
    padding: 40px 32px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px;
  }
}

.block-reason__img {
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 512px;
    height: 256px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
    height: 256px;
  }
}
