.button {
  padding: 0;
  display: block;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-blue-light;
  border: none;
}
