.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    box-shadow: 0 5px 15px $color-desktop-shadow;
  }
}
