.feedback {
  padding: 36px 20px 38px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 62px 60px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 112px 120px 66px;
  }
}

.feedback__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.feedback__text {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 36px;
  width: 280px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}
