.fieldset-name {
  margin-top: 21px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      top: -78px;
      left: -1px;
      background-color: $color-grey-lighter;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.fieldset-name__label {
  margin-bottom: 20px;

  @include label;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-name__legend {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.fieldset-name__input {
  width: 100%;
  margin-left: 13px;

  &--position-one {
    margin-left: 14px;
  }

  &--position-two {
    margin-left: 17px;
  }
}
