.fieldset-name {
  margin-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  &__label {
    margin-bottom: 20px;

    @include label;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fieldset-name__legend {
  margin-bottom: 19px;
}

.fieldset-name__input {
  height: 58px;
  border: 4px solid $color-background;

  &:hover {
    background-color: $color-disabled;
    border-color: $color-disabled;
  }

  &:focus {
    background-color: $color-white;
    outline: none;
  }
}
