.fieldset-contacts {
  margin-top: 21px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    grid-row: 2/3;
    grid-column: -1/1;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      top: -36px;
      background-color: $color-grey-lighter;
    }

    &::before {
      right: 0;
    }

    &::after {
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 43px;

    &::before,
    &::after {
      top: -88px;
      width: 277px;
    }
  }
}

.fieldset-contacts__label {
  @include label;

  margin-bottom: 9px;
  margin-left: 22px;

  &--position {
    margin-bottom: 5px;

    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 17px;
  }
}

.fieldset-contacts__blocks {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.fieldset-contacts__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    flex-direction: row;
    align-items: center;

    &:nth-child(2) {
      margin-top: -10px;
    }
  }
}

.fieldset-contacts__block-input {
  margin-bottom: 14px;
  height: 58px;
  width: 100%;
  display: flex;
  flex-direction: row;

  @media (min-width: $desktop-width) {
    width: 65%;
  }
}

.fieldset-contacts__input {
  width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 258px;
  }
}

.fieldset-contacts__block-img {
  width: 100%;
  max-width: 58px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-width) {
    min-width: 58px;
  }
}

.fieldset-contacts__legend {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}
