.gallery {
  padding: 32px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 63px 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 0;
  }
}

.gallery__title {
  margin: 0 auto 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    width: 458px;
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery__text {
  margin: 0 auto 32px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
    padding: 10px;
    width: 458px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}
