.gallery-wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-wrap__figure:first-child {
  @media (max-width: $mobile-width-only) {
    padding-top: 22px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
