.gallery-blocks {
  &__title {
    @include off-margin;
    @include gallery-text;
  }

  &__text {
    @include off-margin;
    @include gallery-text;
    color: $color-black-light;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 10px;
    }
  }

  &__count-like {
    @include off-margin;
    @include gallery-text;
    font-weight: 700;
  }

  &--row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
