.impression-list {
  @include off-list;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.impression-list__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
}

.impression-list__input {
  margin: 0;

  & + .label-radio::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    top: -14px;
    left: -78px;
    background-color: $color-background;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -16px;
      left: -75px;
    }
  }

  &:checked + .label-radio::before {
    background-color: $color-black-light;
    border: 17px solid $color-background;
  }

  &:hover + .label-radio::before,
  &:focus + .label-radio::before {
    background-color: $color-disabled;
  }

  &:focus + .label-radio::before {
    outline: none;
    box-shadow: 0 0 0 3px $color-black;
  }

  &:checked:hover + .label-radio::before,
  &:checked:focus + .label-radio::before {
    background-color: $color-black-light;
    border: 17px solid $color-disabled;
  }

  &:checked:focus + .label-radio::before {
    outline: none;
    box-shadow: 0 0 0 3px $color-black;
  }

  &:active + .label-radio::before {
    background-color: $color-down;
  }

  &:disabled + .label-radio::before {
    background-color: $color-disabled;
    opacity: 0.9;
  }

  &:checked:active + .label-radio::before {
    background-color: $color-black-light-opacity-03;
    border: 17px solid $color-down;
  }

  &:checked:disabled + .label-radio::before {
    background-color: $color-black-light-opacity-03;
    border: 17px solid $color-disabled;
    opacity: 0.9;
  }
}

.impression-list__label {
  margin-left: 78px;

  @media (min-width: $tablet-width) {
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.label-radio {
  display: block;
  position: relative;
  text-align: left;
  cursor: pointer;
}
