.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrap {
  height: 56px;
  position: relative;
  order: 2;

  @media (min-width: $tablet-width) {
    height: 0;
    order: 0;
  }
}

.page-header__logo-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: auto;
  }
}

.page-header__menu-button {
  @include button-icon;
  position: absolute;
  top: 17px;
  right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
