.reasons-content {
  padding: 39px 12px;
  text-align: center;

  &--color {
    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 32px 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 57px;
  }
}

.reasons-content--position {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reasons-content__title,
.reasons-content__number,
.reasons-content__text {
  margin-left: auto;
  margin-right: auto;
}
