.sedona {
  padding: 52px 20px 49px;
  text-align: center;
  background-color: $color-background-intro;

  @media (min-width: $tablet-width) {
    padding: 95px 60px 117px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 120px 120px;
  }
}
