.socials-list {
  @include off-list;
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    margin: 0 6px 6px 0;
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__link {
    width: 46px;
    height: 48px;
    background-color: $color-blue-light;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: $color-blue;
    }

    &:active {
      background-color: $color-blue-dark;
    }

    &:active .socials-list__img {
      opacity: 0.3;
    }
  }
}
