.video-title {
  padding: 0 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 101px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 177px;
  }
}
