.video {
  padding-top: 10px;
  padding-bottom: 39px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      top: -22px;
      left: -20px;
      background-color: $color-disabled;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 57px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 200px 85px;
  }
}

.video__title {
  @include off-margin;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.video__text {
  margin-bottom: 34px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.video__wrap {
  height: auto;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.video__img {
  display: block;
}

.video__range {
  position: absolute;
  bottom: 0;
  left: 0;

  @media (max-width: $mobile-width-only) {
    bottom: 66px;
    left: 21px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
