.video {
  padding-top: 32px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 59px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 0 85px;
    padding-top: 63px;
    padding-bottom: 85px;
  }
}

.video__title {
  @include off-margin;
  margin-bottom: 30px;
}

.video__text {
  margin-bottom: 33px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.video__wrap {
  height: 201px;
  min-width: 320px;
  position: relative;
}

.video__range {
  position: absolute;
  bottom: 0;
  left: 21px;
}
