/* Variables */

$color-background: #f2f2f2;

$color-white: #ffffff;

$color-black: #000000;
$color-black-light: #333333;

$color-grey: #eeeeee;

$color-blue-light: #81b3d2;

/* Mixin */

@mixin off-margin {
  margin: 0;
}

@mixin off-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
