/* Variables */

$color-background: #f2f2f2;
$color-background-darker: #e6e6e6;
$color-background-intro: #b58d90;

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.2);

$color-black: #000000;
$color-black-light: #333333;
$color-black-opacity: rgba(0, 0, 0, 0.6);

$color-grey: #eeeeee;

$color-blue-light: #81b3d2;

$off-text-transform: none;

/* Mixin */

@mixin off-margin {
  margin: 0;
}

@mixin off-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin input-or-textarea {
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $color-background;
  border: transparent;

  &::placeholder {
    color: $color-black;
  }
}

@mixin fieldset {
  border: none;
}

@mixin label {
  line-height: 26px;
}

@mixin galery-text {
  font-size: 14px;
  line-height: 24px;
}

@mixin button-icon {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
