// Variables

$color-background: #f2f2f2;
$color-background-darker: #e6e6e6;
$color-background-intro: #b58d90;

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.2);
$color-white-opacity-03: rgba(255, 255, 255, 0.3);

$color-black: #000000;
$color-black-shadow: rgba(1, 1, 1, 0.2);
$color-black-light: #333333;
$color-black-light-opacity-03: rgba(51, 51, 51, 0.3);
$color-black-opacity: rgba(0, 0, 0, 0.6);
$color-black-opacity-02: rgba(0, 0, 0, 0.2);
$color-black-opacity-03: rgba(0, 0, 0, 0.3);
$color-black-opacity-00: rgba(0, 0, 0, 0);

$color-grey: #eeeeee;

$color-blue-light: #81b3d2;
$color-blue: #669ec0;
$color-blue-dark: #5496bd;

$color-brown: #766357;
$color-brown-opacity-03: rgba(118, 99, 87, 0.3);
$color-brown-dark: #604e43;

$color-disabled: #e5e5e5;
$color-down: #d5d5d5;

$color-desktop-shadow: rgba(0, 1, 1, 0.2);

$off-text-transform: none;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Mixin

@mixin off-margin {
  margin: 0;
}

@mixin off-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin input-or-textarea {
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $color-background;
  border: transparent;

  &::placeholder {
    color: $color-black;
  }
}

@mixin fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin label {
  line-height: 26px;
}

@mixin gallery-text {
  font-size: 14px;
  line-height: 24px;
}

@mixin button-icon {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
